body {
    margin: 0;
    font-size: 1.2rem;
}
 
nav.navbar.navbar-dark.bg-dark.bg-scarlet {
    background-color: #bb0000 !important;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    margin: 0 auto;
    max-width: 1280px;
}

.variable-editor {
    font-family: monospace;
    max-width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 12px;
    margin-bottom: 12px
}

.variable-editor > input, .variable-editor > select {
    width: 100px;
}
