body {
    margin: 0;
}
 
nav.navbar.navbar-dark.bg-dark.bg-scarlet {
    background-color: #bb0000 !important;
}

#container {
    display: grid;
    grid-template-columns: 280px 1fr;
    column-gap: 24px;
}

.variable-editor {
    max-width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 12px;
    margin-bottom: 12px
}

.variable-editor > input, .variable-editor > select {
    width: 100px;
}
